streamlit
langchain
langchain-core
langchain-groq
langchain-huggingface
langchain-community
sentence-transformers
chromadb
numpy
torch
transformers
gtts
pygame
speechrecognition
audio-recorder-streamlit
